* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILOS GLOBALES*/
html {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: white;
}
header .barra {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  background-color: #0e185f;
}
header .barra .container-fluid .navbar-brand .navb-img {
  width: 5rem;
  border-radius: 70px;
  margin: 0.5rem;
  height: 5rem;
}
header .barra .container-fluid .navbar-toggler {
  border: none;
}
header .barra .container-fluid .toggler-color {
  background-color: white;
}
header .barra .container-fluid .navbar-nav .nav-item .nav-link {
  font-weight: bold;
  color: white;
}
header .barra .container-fluid .navbar-nav .nav-item .nav-link:hover {
  color: #00ffdd;
}
header .barra .container-fluid .navbar-nav .nav-item .nav-link .active {
  color: white;
}
header .barra .container-fluid .navbar-nav .nav-item .nav-link .active.active {
  color: #00ffdd;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background-color: #0e185f;
  color: white;
  height: 9rem;
}
footer .footer-subtitulo {
  font-size: 13px;
  padding: 0.7rem;
  padding-top: 2rem;
}
footer .footer-redes {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 7px;
}
footer .footer-redes .redes {
  display: inline-block;
}
footer .footer-redes .redes .enlace-redes {
  display: block;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  transition: font-size 0.3s ease;
}
footer .footer-redes .redes .enlace-redes:hover {
  font-size: 40px;
}
footer .footer-derechos {
  font-size: 0.7rem;
  padding-bottom: 0.5rem;
}

/* BANNER*/
main {
  margin: 0;
  width: 100%;
}
main .banner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url(../multimedia/img/banner-home.jpg) center;
  background-repeat: no-repeat;
  height: 80vh;
  color: white;
  object-fit: cover;
}
main .banner-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
main .banner-container .banner-info {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
main .banner-container .banner-info .titulo-banner {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
}
main .banner-container .banner-info .button-home {
  display: block;
  text-align: center;
  background-color: #00ffdd;
  color: #0e185f;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.2rem 1rem;
  border-radius: 7px;
}
main .banner-container .banner-info .button-home:hover {
  background-color: #0e185f;
  color: #00ffdd;
  transition: 0.7s;
}

/* SERVICIOS*/
.main-servicios {
  position: relative;
  width: 100%;
}
.main-servicios .titulo-servicios {
  text-align: center;
  color: #0e185f;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  border-bottom: 2px solid #0e185f;
  margin-bottom: 0.5rem;
}
.main-servicios .servicios-img {
  width: 100%;
  max-height: 40vh;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  object-fit: cover;
  display: block;
  border-bottom: 2px solid #0e185f;
}
.main-servicios .servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  margin-bottom: 2rem 0;
}
.main-servicios .servicios .servicios-1,
.main-servicios .servicios .servicios-2,
.main-servicios .servicios .servicios-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  max-width: 20rem;
  border: 1px solid #00ffdd;
  border-radius: 15px;
  box-shadow: 0px 10px 10px 0px #00ffdd;
  width: 100%;
}
.main-servicios .servicios .servicios-1 ul,
.main-servicios .servicios .servicios-2 ul,
.main-servicios .servicios .servicios-3 ul {
  list-style: none;
  padding: 1rem 0 0.5rem 0;
}
.main-servicios .servicios .servicios-1 ul li,
.main-servicios .servicios .servicios-2 ul li,
.main-servicios .servicios .servicios-3 ul li {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 10px;
}
.main-servicios .servicios .servicios-1 ul li .icon,
.main-servicios .servicios .servicios-2 ul li .icon,
.main-servicios .servicios .servicios-3 ul li .icon {
  margin-right: 10px;
  font-size: 1.5rem;
  color: #0e185f;
}
.main-servicios .servicios .servicios-1 .button-servicios,
.main-servicios .servicios .servicios-2 .button-servicios,
.main-servicios .servicios .servicios-3 .button-servicios {
  background-color: #0e185f;
  color: white;
  width: 6rem;
  height: 2rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
}
.main-servicios .servicios .servicios-1 .button-servicios:hover,
.main-servicios .servicios .servicios-2 .button-servicios:hover,
.main-servicios .servicios .servicios-3 .button-servicios:hover {
  background-color: #00ffdd;
  color: #0e185f;
  transition: 0.7s;
}

.main-nosotros .nosotros-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  gap: 1rem;
  padding: 0 2rem;
  box-sizing: border-box;
}
.main-nosotros .nosotros-container .titulo-nosotros {
  text-align: center;
  color: #0e185f;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  border-bottom: 2px solid #0e185f;
  margin-bottom: 0.5rem;
}
.main-nosotros .nosotros-container .comienzos,
.main-nosotros .nosotros-container .actualidad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
.main-nosotros .nosotros-container .comienzos .img-container,
.main-nosotros .nosotros-container .actualidad .img-container {
  max-width: 40%;
  margin: 0 auto;
}
.main-nosotros .nosotros-container .comienzos .img-antes,
.main-nosotros .nosotros-container .comienzos .img-actualidad,
.main-nosotros .nosotros-container .actualidad .img-antes,
.main-nosotros .nosotros-container .actualidad .img-actualidad {
  width: 45%;
  height: auto;
  object-fit: cover;
  box-shadow: 0px 0px 30px 0px #00ffdd;
}
.main-nosotros .nosotros-container .comienzos .antes,
.main-nosotros .nosotros-container .comienzos .ahora,
.main-nosotros .nosotros-container .actualidad .antes,
.main-nosotros .nosotros-container .actualidad .ahora {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  margin: 2rem;
  width: 40%;
}
.main-nosotros .nosotros-container .comienzos .resaltado,
.main-nosotros .nosotros-container .actualidad .resaltado {
  font-weight: bold;
  color: #0e185f;
}

.actualidad {
  flex-direction: row-reverse;
}

.pie-nosotros {
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 2rem;
  color: #0e185f;
}

.main-galeria .titulo-galeria {
  text-align: center;
  color: #0e185f;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  border-bottom: 2px solid #0e185f;
  margin-bottom: 0.5rem;
}
.main-galeria .container-galeria {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 10px;
  margin-bottom: 2rem;
}
.main-galeria .container-galeria .galeria-img {
  text-align: center;
  position: relative;
}
.main-galeria .container-galeria .galeria-img img {
  max-width: 90%;
  height: auto;
  transition: transform 0.3s;
  transform-origin: center center;
  border-radius: 5px;
}
.main-galeria .container-galeria .galeria-img .card-back {
  display: none;
}
.main-galeria .container-galeria .galeria-img:hover img {
  transform: scale(1) center;
}
.main-galeria .container-galeria .galeria-img:hover .card-back {
  display: block;
}
.main-galeria .container-galeria .galeria-img:hover .card-front {
  display: none;
}

.main-reservas {
  display: flex;
  flex-direction: column;
}
.main-reservas .titulo-reservas {
  text-align: center;
  color: #0e185f;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  border-bottom: 2px solid #0e185f;
  margin-bottom: 0.5rem;
}
.main-reservas .form-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.main-reservas .form-container .formulario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  padding: 2rem 1rem;
  color: white;
  background-color: #0e185f;
  box-shadow: 0px 0px 30px 0px rgb(248, 103, 221);
  border-radius: 20px;
}
.main-reservas .form-container .formulario .formulario-bloque {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 1rem;
}
.main-reservas .form-container .formulario .formulario-bloque .input-columna {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-reservas .form-container .formulario .formulario-bloque .input-columna .input-bloque {
  display: flex;
  flex-direction: column;
}
.main-reservas .form-container .formulario .formulario-bloque .input-columna .input-bloque input {
  background-color: transparent;
}
.main-reservas .form-container .formulario .formulario-bloque .input-columna .input-bloque .fecha-personas {
  width: 9rem;
  height: 2rem;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  padding: 1rem;
  border: 1px solid white;
  color: white;
}
.main-reservas .form-container .formulario .formulario-bloque .input-columna .input-bloque .fecha-personas:hover {
  color: #0e185f;
  background-color: #00ffdd;
}
.main-reservas .form-container .formulario .formulario-bloque .input-columna .input-bloque .datos-personales {
  width: 13rem;
  height: 2rem;
  text-align: left;
  font-size: 13px;
  border-style: none;
  border-bottom: 1px solid white;
  padding-left: 0.7rem;
  background-color: transparent;
}
.main-reservas .form-container .formulario .formulario-bloque .input-columna .input-bloque .datos-personales:hover {
  color: #0e185f;
  background-color: #00ffdd;
}
.main-reservas .form-container .formulario .formulario-bloque .input-columna .input-bloque p {
  margin-bottom: 0;
}
.main-reservas .form-container .formulario .comentario-bloque {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 0.5rem;
}
.main-reservas .form-container .formulario .comentario-bloque .textarea {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: transparent;
  padding: 1rem;
}
.main-reservas .form-container .formulario .comentario-bloque .submit {
  height: 2.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #00ffdd;
  color: #0e185f;
}
.main-reservas .form-container .formulario .comentario-bloque .submit:hover {
  background-color: white;
}
.main-reservas .form-container .formulario .informacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  gap: 0.3rem;
}
.main-reservas .form-container .formulario .informacion .contacto .contacto ul .contacto li {
  list-style: none;
}
.main-reservas .ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main-reservas .ubicacion h3 {
  margin-left: 1rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  color: #0e185f;
}
.main-reservas .ubicacion .maps {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 30px 0px rgb(175, 175, 180);
  margin-bottom: 2rem;
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  .main-servicios .servicios {
    grid-template-columns: repeat(2, 1fr);
  }
  .servicios-1,
  .servicios-2,
  .servicios-3 {
    margin: 0 auto;
  }
  .servicios-1 {
    margin-bottom: 1rem;
  }
  .servicios-3 {
    margin-top: 1rem;
  }
  .main-nosotros .nosotros-container .comienzos,
  .main-nosotros .nosotros-container .actualidad {
    flex-direction: column;
    gap: 0;
  }
  .main-nosotros .nosotros-container .comienzos .img-antes,
  .main-nosotros .nosotros-container .comienzos .img-actualidad,
  .main-nosotros .nosotros-container .actualidad .img-antes,
  .main-nosotros .nosotros-container .actualidad .img-actualidad {
    width: 90%;
  }
  .main-nosotros .nosotros-container .comienzos .antes,
  .main-nosotros .nosotros-container .comienzos .ahora,
  .main-nosotros .nosotros-container .actualidad .antes,
  .main-nosotros .nosotros-container .actualidad .ahora {
    width: 100%;
    margin: 0;
  }
  .main-galeria .container-galeria {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-galeria img {
    transform: scale(0.8) center;
  }
  .main-reservas {
    flex-direction: column;
  }
  .form-container {
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
  }
  .form-container .formulario {
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
  }
  .form-container .formulario .formulario-bloque .fecha-personas:hover {
    color: #0e185f;
    background-color: #00ffdd;
  }
  .form-container .formulario .formulario-bloque .datos-personales:hover {
    color: #0e185f;
    background-color: #00ffdd;
  }
  .submit:hover {
    background-color: white;
  }
}
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ubicacion h3 {
  margin-left: 1rem;
}
.ubicacion .maps {
  height: 6rem;
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .container-fluid .navbar-toggler {
    border: none;
  }
  .banner-container .banner-info {
    top: 30%;
  }
  .banner-container .banner-info .titulo-banner {
    font-size: 2rem;
  }
  .main-servicios .servicios {
    grid-template-columns: repeat(1, 1fr);
  }
  .main-nosotros .nosotros-container .comienzos .img-antes,
  .main-nosotros .nosotros-container .comienzos .img-actualidad,
  .main-nosotros .nosotros-container .actualidad .img-antes,
  .main-nosotros .nosotros-container .actualidad .img-actualidad {
    width: 90%;
  }
  .main-galeria .container-galeria {
    grid-template-columns: 1fr;
  }
  .main-reservas .form-container .formulario {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .main-reservas .form-container .formulario .formulario-bloque {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-reservas .form-container .formulario .formulario-bloque .fecha-personas:hover {
    color: #0e185f;
    background-color: #00ffdd;
  }
  .main-reservas .form-container .formulario .formulario-bloque .datos-personales:hover {
    color: #0e185f;
    background-color: #00ffdd;
  }
  .main-reservas .submit:hover {
    background-color: white;
  }
}

/*# sourceMappingURL=main.css.map */
