* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILOS GLOBALES*/
html {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: white;
}
header .barra {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  background-color: #0e185f;
}
header .barra .container-fluid .navbar-brand .navb-img {
  width: 5rem;
  border-radius: 70px;
  margin: 0.5rem;
  height: 5rem;
}
header .barra .container-fluid .navbar-toggler {
  border: none;
}
header .barra .container-fluid .toggler-color {
  background-color: white;
}
header .barra .container-fluid .navbar-nav .nav-item .nav-link {
  font-weight: bold;
  color: white;
}
header .barra .container-fluid .navbar-nav .nav-item .nav-link:hover {
  color: #00ffdd;
}
header .barra .container-fluid .navbar-nav .nav-item .nav-link .active {
  color: white;
}
header .barra .container-fluid .navbar-nav .nav-item .nav-link .active.active {
  color: #00ffdd;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background-color: #0e185f;
  color: white;
  height: 9rem;
}
footer .footer-subtitulo {
  font-size: 13px;
  padding: 0.7rem;
  padding-top: 2rem;
}
footer .footer-redes {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 7px;
}
footer .footer-redes .redes {
  display: inline-block;
}
footer .footer-redes .redes .enlace-redes {
  display: block;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  transition: font-size 0.3s ease;
}
footer .footer-redes .redes .enlace-redes:hover {
  font-size: 40px;
}
footer .footer-derechos {
  font-size: 0.7rem;
  padding-bottom: 0.5rem;
}

/* BANNER*/
main {
  margin: 0;
  width: 100%;
}
main .banner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url(../multimedia/img/banner-home.jpg) center;
  background-repeat: no-repeat;
  height: 80vh;
  color: white;
  object-fit: cover;
}
main .banner-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
main .banner-container .banner-info {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
main .banner-container .banner-info .titulo-banner {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
}
main .banner-container .banner-info .button-home {
  display: block;
  text-align: center;
  background-color: #00ffdd;
  color: #0e185f;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.2rem 1rem;
  border-radius: 7px;
}
main .banner-container .banner-info .button-home:hover {
  background-color: #0e185f;
  color: #00ffdd;
  transition: 0.7s;
}

/* SERVICIOS*/
.main-servicios {
  border: 1px solid black;
  position: relative;
  width: 100%;
}
.main-servicios .titulo-servicios {
  text-align: center;
  color: #0e185f;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  border-bottom: 2px solid #0e185f;
  margin-bottom: 0.5rem;
}
.main-servicios .servicios-img {
  width: 100%;
  max-height: 40vh;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  object-fit: cover;
  display: block;
  border-bottom: 2px solid #0e185f;
}
.main-servicios .servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem;
}
.main-servicios .servicios .servicios-1,
.main-servicios .servicios .servicios-2,
.main-servicios .servicios .servicios-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 1rem;
  max-width: 20rem;
  border: 1px solid #0e185f;
  border-radius: 15px;
  width: 100%;
}
.main-servicios .servicios .servicios-1 ul,
.main-servicios .servicios .servicios-2 ul,
.main-servicios .servicios .servicios-3 ul {
  list-style: none;
  padding: 1rem 0 0.5rem 0;
}
.main-servicios .servicios .servicios-1 ul li,
.main-servicios .servicios .servicios-2 ul li,
.main-servicios .servicios .servicios-3 ul li {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 10px;
}
.main-servicios .servicios .servicios-1 ul li .icon,
.main-servicios .servicios .servicios-2 ul li .icon,
.main-servicios .servicios .servicios-3 ul li .icon {
  margin-right: 10px;
  font-size: 1.5rem;
  color: #0e185f;
}
.main-servicios .servicios .servicios-1 .button-servicios,
.main-servicios .servicios .servicios-2 .button-servicios,
.main-servicios .servicios .servicios-3 .button-servicios {
  background-color: #0e185f;
  color: white;
  width: 6rem;
  height: 2rem;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
}
.main-servicios .servicios .servicios-1 .button-servicios:hover,
.main-servicios .servicios .servicios-2 .button-servicios:hover,
.main-servicios .servicios .servicios-3 .button-servicios:hover {
  background-color: #00ffdd;
  color: #0e185f;
  transition: 0.7s;
}

.main-nosotros {
  margin: 3rem;
}
.main-nosotros .nosotros-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  gap: 1rem;
  padding: 0 2rem;
  box-sizing: border-box;
}
.main-nosotros .nosotros-container .titulo-nosotros {
  text-align: center;
  color: #0e185f;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  border-bottom: 2px solid #0e185f;
  margin-bottom: 0.5rem;
}
.main-nosotros .nosotros-container .comienzos,
.main-nosotros .nosotros-container .actualidad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
.main-nosotros .nosotros-container .comienzos .img-container,
.main-nosotros .nosotros-container .actualidad .img-container {
  max-width: 50%;
  margin: 0 auto;
}
.main-nosotros .nosotros-container .comienzos .img-antes,
.main-nosotros .nosotros-container .comienzos .img-actualidad,
.main-nosotros .nosotros-container .actualidad .img-antes,
.main-nosotros .nosotros-container .actualidad .img-actualidad {
  width: 60%;
  height: auto;
  object-fit: cover;
  box-shadow: 0px 0px 30px 0px rgb(248, 103, 221);
}
.main-nosotros .nosotros-container .comienzos .antes,
.main-nosotros .nosotros-container .comienzos .ahora,
.main-nosotros .nosotros-container .actualidad .antes,
.main-nosotros .nosotros-container .actualidad .ahora {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  margin: 2rem;
  width: 50%;
}
.main-nosotros .nosotros-container .comienzos .resaltado,
.main-nosotros .nosotros-container .actualidad .resaltado {
  font-weight: bold;
  color: #0e185f;
}

.actualidad {
  flex-direction: row-reverse;
}

.pie-nosotros {
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 2rem;
  color: #0e185f;
}

.main-galeria {
  margin: 2rem;
}
.main-galeria .titulo-galeria {
  text-align: center;
  color: #0e185f;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  border-bottom: 2px solid #0e185f;
  margin-bottom: 0.5rem;
}
.main-galeria .container-galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.main-galeria .container-galeria .galeria-img {
  text-align: center;
  position: relative;
}
.main-galeria .container-galeria .galeria-img img {
  max-width: 90%;
  height: auto;
  transition: transform 0.3s;
  transform-origin: center center;
}
.main-galeria .container-galeria .galeria-img .card-back {
  display: none;
}
.main-galeria .container-galeria .galeria-img:hover img {
  transform: scale(1.1);
}
.main-galeria .container-galeria .galeria-img:hover .card-back {
  display: block;
}
.main-galeria .container-galeria .galeria-img:hover .card-front {
  display: none;
}

.main-reservas {
  margin: 3rem;
}
.main-reservas .form-container {
  align-items: center;
  width: 100%;
  margin: 0 auto;
  gap: 0.7rem;
}
.main-reservas .form-container .titulo-reservas {
  text-align: center;
  color: #0e185f;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  border-bottom: 2px solid #0e185f;
  margin-bottom: 0.5rem;
}
.main-reservas .form-container .form-datos {
  display: flex;
  margin: 2rem 0;
}
.main-reservas .form-container .form-datos .formulario {
  justify-items: center;
  align-items: center;
  background-color: #0e185f;
  box-shadow: 0px 0px 30px 0px rgb(248, 103, 221);
  width: 70%;
  padding: 2rem;
  gap: 0.7rem;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "titulo titulo" "desde hasta" "menores adultos" "nombre apellido" "tel email" "textarea textarea" "submit submit";
}
.main-reservas .form-container .form-datos .formulario .form-reserva {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: white;
  margin: 10px;
}
.main-reservas .form-container .form-datos .formulario .nombre .form-reserva,
.main-reservas .form-container .form-datos .formulario .apellido .form-reserva,
.main-reservas .form-container .form-datos .formulario .tel .form-reserva,
.main-reservas .form-container .form-datos .formulario .email .form-reserva {
  text-align: left;
}
.main-reservas .form-container .form-datos .formulario .desde input[type=date]::-webkit-calendar-picker-indicator,
.main-reservas .form-container .form-datos .formulario .hasta input[type=date]::-webkit-calendar-picker-indicator {
  color: white;
}
.main-reservas .form-container .form-datos .formulario .desde input,
.main-reservas .form-container .form-datos .formulario .hasta input,
.main-reservas .form-container .form-datos .formulario .menores input,
.main-reservas .form-container .form-datos .formulario .adultos input {
  border: 1px solid white;
  border-radius: 5px;
  width: 9rem;
  height: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  padding: 1rem;
  color: white;
  background-color: transparent;
}
.main-reservas .form-container .form-datos .formulario .desde input:hover,
.main-reservas .form-container .form-datos .formulario .hasta input:hover,
.main-reservas .form-container .form-datos .formulario .menores input:hover,
.main-reservas .form-container .form-datos .formulario .adultos input:hover {
  color: #0e185f;
  background-color: #00ffdd;
}
.main-reservas .form-container .form-datos .formulario .menores input,
.main-reservas .form-container .form-datos .formulario .adultos input {
  padding-left: 5px;
  width: 6rem;
  height: 2rem;
}
.main-reservas .form-container .form-datos .formulario .nombre input,
.main-reservas .form-container .form-datos .formulario .apellido input,
.main-reservas .form-container .form-datos .formulario .tel input,
.main-reservas .form-container .form-datos .formulario .email input {
  border-style: none;
  border-bottom: 1px solid white;
  width: 13rem;
  height: 2rem;
  font-size: 13px;
  text-align: left;
  padding-left: 0.7rem;
  background-color: transparent;
}
.main-reservas .form-container .form-datos .formulario .nombre input:hover,
.main-reservas .form-container .form-datos .formulario .apellido input:hover,
.main-reservas .form-container .form-datos .formulario .tel input:hover,
.main-reservas .form-container .form-datos .formulario .email input:hover {
  color: #0e185f;
  background-color: #00ffdd;
}
.main-reservas .form-container .form-datos .formulario .form-10 {
  grid-column: 1/3;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 90%;
  padding: 1rem;
  margin-top: 0.7rem;
}
.main-reservas .form-container .form-datos .formulario .form-10 textarea {
  width: 100%;
  border-style: none;
  background-color: transparent;
  color: white;
}
.main-reservas .form-container .form-datos .formulario .form-11 {
  grid-column: 1/3;
  width: 90%;
}
.main-reservas .form-container .form-datos .formulario .form-11 .submit {
  width: 100%;
  border-style: none;
  background-color: #00ffdd;
  color: #0e185f;
}
.main-reservas .form-container .form-datos .formulario .submit {
  color: #0e185f;
  height: 2.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}
.main-reservas .form-container .form-datos .formulario .submit:hover {
  background-color: white;
  color: #0e185f;
}
.main-reservas .form-container .informacion {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5rem 1rem 0 5rem;
}
.main-reservas .form-container .informacion ul {
  list-style: none;
  padding: 1rem 0 0.5rem 0;
}
.main-reservas .form-container .informacion ul li {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 10px;
}
.main-reservas .form-container .informacion ul li iconify-icon {
  margin-right: 10px;
  font-size: 1.5rem;
  color: #0e185f;
}
.main-reservas .form-container .ubicacion h3 {
  margin-left: 1rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  color: #0e185f;
}
.main-reservas .form-container .ubicacion .maps {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 30px 0px rgb(175, 175, 180);
  margin-bottom: 2rem;
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  .main-servicios .servicios {
    grid-template-columns: repeat(2, 1fr);
  }
  .servicios-1,
  .servicios-2,
  .servicios-3 {
    margin: 0 auto;
  }
  .servicios-1 {
    margin-bottom: 1rem;
  }
  .servicios-3 {
    margin-top: 1rem;
  }
  .main-nosotros .nosotros-container .comienzos,
  .main-nosotros .nosotros-container .actualidad {
    flex-direction: column;
    gap: 0;
  }
  .main-nosotros .nosotros-container .comienzos .img-antes,
  .main-nosotros .nosotros-container .comienzos .img-actualidad,
  .main-nosotros .nosotros-container .actualidad .img-antes,
  .main-nosotros .nosotros-container .actualidad .img-actualidad {
    width: 90%;
  }
  .main-nosotros .nosotros-container .comienzos .antes,
  .main-nosotros .nosotros-container .comienzos .ahora,
  .main-nosotros .nosotros-container .actualidad .antes,
  .main-nosotros .nosotros-container .actualidad .ahora {
    width: 100%;
    margin: 0;
  }
  .main-galeria .container-galeria {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-reservas .form-container .form-datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-reservas .form-container .formulario {
    margin-bottom: 1rem;
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "desde" "hasta" "menores" "adultos" "nombre" "apellido" "tel" "email" "textarea" "submit";
  }
  .informacion {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .container-fluid .navbar-toggler {
    border: none;
  }
  .banner-container .banner-info {
    top: 30%;
  }
  .banner-container .banner-info .titulo-banner {
    font-size: 2rem;
  }
  .main-servicios .servicios {
    grid-template-columns: repeat(1, 1fr);
  }
  .main-nosotros .nosotros-container .comienzos .img-antes,
  .main-nosotros .nosotros-container .comienzos .img-actualidad,
  .main-nosotros .nosotros-container .actualidad .img-antes,
  .main-nosotros .nosotros-container .actualidad .img-actualidad {
    width: 90%;
  }
  .main-galeria .container-galeria {
    grid-template-columns: 1fr;
  }
  .main-reservas {
    border: 1px solid black;
  }
  .main-reservas .form-container {
    width: 100%;
    border: 1px solid green;
    text-align: center;
    padding: 0 1.5rem;
  }
  .main-reservas .form-container .form-datos {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }
  .main-reservas .form-container .form-datos .formulario {
    border: 1px solid red;
    width: auto;
    padding: 1rem;
    grid-template-areas: "titulo" "desde" "hasta" "menores" "adultos" "nombre" "apellido" "tel" "email" "textarea" "submit";
  }
  .main-reservas .form-container .form-datos .formulario .form-reserva .titulo,
  .main-reservas .form-container .form-datos .formulario .form-reserva .desdde,
  .main-reservas .form-container .form-datos .formulario .form-reserva .hasta,
  .main-reservas .form-container .form-datos .formulario .form-reserva .menores,
  .main-reservas .form-container .form-datos .formulario .form-reserva .adultos,
  .main-reservas .form-container .form-datos .formulario .form-reserva .nombre,
  .main-reservas .form-container .form-datos .formulario .form-reserva .apellido,
  .main-reservas .form-container .form-datos .formulario .form-reserva .tel,
  .main-reservas .form-container .form-datos .formulario .form-reserva .email,
  .main-reservas .form-container .form-datos .formulario .form-reserva .textarea,
  .main-reservas .form-container .form-datos .formulario .form-reserva .submit {
    grid-column: 1;
    margin: 0;
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
