.main-galeria {
  margin: 2rem;
  .titulo-galeria {
    text-align: center;
    color: nth($list: $colores, $n: 1);
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    border-bottom: 2px solid nth($list: $colores, $n: 1);
    margin-bottom: 0.5rem;
  }

  .container-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 20px;
    justify-content: center;
    align-items: center;

    .galeria-img {
      text-align: center;
      position: relative;

      img {
        max-width: 90%;
        height: auto;
        // padding: 0.5rem;
        transition: transform 0.3s;
        transform-origin: center center;
      }

      .card-back {
        display: none;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }

        .card-back {
          display: block;
        }

        .card-front {
          display: none;
        }
      }
    }
  }
}

// .main-galeria {
//   .titulo-galeria {
//     text-align: center;
//     color: nth($list: $colores, $n: 1);
//     padding-bottom: 0.5rem;
//     margin-top: 1rem;
//     border-bottom: 2px solid nth($list: $colores, $n: 1);
//     margin-bottom: 0.5rem;
//   }

//   .container-galeria {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     gap: 1rem;
//     padding: 20px;
//     justify-content: center;
//     align-items: center;

//     .galeria-img {
//       text-align: center;
//       position: relative;

//       img {
//         max-width: 90%;
//         height: auto;
//         padding: 0.5rem;
//         transition: transform 0.3s; // Agrega una transición suave
//       }

//       .card-back {
//         display: none;
//       }

//       &:hover {
//         img {
//           transform: scale(
//             1.1
//           ); // Ajusta el valor según la cantidad de aumento deseada
//         }

//         .card-back {
//           display: block;
//         }

//         .card-front {
//           display: none;
//         }
//       }
//     }
//   }
// }

// .main-galeria {
//   .titulo-galeria {
//     text-align: center;
//     color: nth($list: $colores, $n: 1);
//     padding-bottom: 0.5rem;
//     margin-top: 1rem;
//     border-bottom: 2px solid nth($list: $colores, $n: 1);
//     margin-bottom: 0.5rem;
//   }

//   .container-galeria {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     gap: 1rem;
//     padding: 20px;
//     justify-content: center;
//     align-items: center;

//     .galeria-img {
//       text-align: center;

//       img {
//         max-width: 90%;
//         height: auto;
//         padding: 0.5rem;
//         animation: fade 0.7s;
//       }

//       .card-back {
//         display: none;
//       }

//       &:hover .card-back {
//         display: block;
//       }

//       &:hover .card-front {
//         display: none;
//       }
//     }
//   }
// }
