main {
  .container-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 20px;
    .galeria-img {
      text-align: center;
      max-width: 90%;
      height: auto;
      padding: 0.5rem;
      animation: fade 0.7s;
      galeria-img:hover .card-front {
        display: none;
      }
      .card-back {
        display: none;
      }
      &:hover {
        display: block;
      }
      p {
        font-size: 15px;
        font-weight: bold;
      }
    }
  }
}
