main {
  .nosotros-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    width: 100%;
    gap: 1rem;
    padding: 0 2rem;
    box-sizing: border-box;

    .titulo-nosotros {
      color: #0e185f;
      padding-bottom: 0.5rem;
      text-align: center;
      margin-top: 1rem; /* Ajuste: Movido el margin-top aquí */
      border-bottom: 2px solid #0e185f;
      margin-bottom: 0.5rem; /* Ajuste: Movido el margin-bottom aquí */
    }

    .comienzos,
    .actualidad {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 1rem;

      .img-container {
        max-width: 50%;
        margin: 0 auto;
      }

      .comienzos img,
      .actualidad img {
        width: 50%;
        object-fit: cover;
        box-shadow: 0px 0px 30px 0px rgb(248, 103, 221);
      }

      .antes,
      .ahora {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 1rem;
        width: 50%;

        .resaltado {
          font-weight: bold;
          color: black;
        }
      }
    }
  }

  .actualidad {
    flex-direction: row-reverse;
  }
}

// main {
//   .nosotros-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     background-color: whitesmoke;
//     width: 100%;
//     gap: 1rem;
//     padding: 0 2rem;
//     box-sizing: border-box;

//     .titulo-nosotros {
//       color: #0e185f;
//       padding-bottom: 0.5rem;
//       text-align: center;
//       margin-bottom: 0.5rem;
//       border-bottom: 2px solid #0e185f;
//       margin-top: 1rem;
//     }
//     .comienzos {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       width: 100%;
//       gap: 1rem;

//       .img-container {
//         max-width: 50%;
//         margin: 0 auto;
//       }
//       .comienzos img,
//       .actualidad img {
//         width: 50%;
//         object-fit: cover;
//         box-shadow: 0px 0px 30px 0px rgb(248, 103, 221);
//       }

//       .antes,
//       .ahora {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         text-align: center;
//         margin: 1rem;
//         width: 50%;
//         .resaltado {
//           font-weight: bold;
//           color: black;
//         }
//       }
//     }
//   }
//   .actualidad {
//     flex-direction: row-reverse;
//   }
// }
