.main-nosotros {
  margin: 3rem;
  .nosotros-container {
    @include flex(column, center, center);
    background-color: nth($list: $colores, $n: 3);
    width: 100%;
    gap: 1rem;
    padding: 0 2rem;
    box-sizing: border-box;

    .titulo-nosotros {
      text-align: center;
      color: nth($list: $colores, $n: 1);
      padding-bottom: 0.5rem;
      margin-top: 1rem;
      border-bottom: 2px solid nth($list: $colores, $n: 1);
      margin-bottom: 0.5rem;
    }

    .comienzos,
    .actualidad {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 2rem;

      .img-container {
        max-width: 50%;
        margin: 0 auto;
      }

      .img-antes,
      .img-actualidad {
        width: 60%;
        height: auto;
        object-fit: cover;
        box-shadow: 0px 0px 30px 0px nth($list: $colores, $n: 4);
      }

      .antes,
      .ahora {
        @include flex(column, center, center);
        font-size: 1rem;
        text-align: center;
        margin: 2rem;
        width: 50%;
      }

      .resaltado {
        font-weight: bold;
        color: nth($list: $colores, $n: 1);
      }
    }
  }
}

.actualidad {
  flex-direction: row-reverse;
}
.pie-nosotros {
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 2rem;
  color: nth($list: $colores, $n: 1);
}
