/* SERVICIOS*/

.main-servicios {
  border: 1px solid black;
  position: relative;
  width: 100%;

  .titulo-servicios {
    text-align: center;
    color: nth($list: $colores, $n: 1);
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    border-bottom: 2px solid nth($list: $colores, $n: 1);
    margin-bottom: 0.5rem;
  }

  .servicios-img {
    width: 100%;
    max-height: 40vh;
    margin: 0 auto;
    padding-bottom: 0.5rem;
    object-fit: cover;
    display: block;
    border-bottom: 2px solid nth($list: $colores, $n: 1);
  }

  .servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;

    gap: 0.5rem;
    padding: 2rem;

    .servicios-1,
    .servicios-2,
    .servicios-3 {
      @include flex(column, center, center);
      height: auto;
      padding: 1rem;
      max-width: 20rem;
      border: 1px solid nth($list: $colores, $n: 1);
      border-radius: 15px;
      // box-shadow: 0px 0px 20px 0px nth($list: $colores, $n: 4);

      width: 100%;

      ul {
        list-style: none;
        padding: 1rem 0 0.5rem 0;

        li {
          display: flex;
          align-items: center;
          font-size: 1rem;
          margin-bottom: 10px;

          .icon {
            margin-right: 10px;
            font-size: 1.5rem;
            color: nth($list: $colores, $n: 1);
          }
        }
      }

      .button-servicios {
        background-color: nth($list: $colores, $n: 1);
        color: nth($list: $colores, $n: 3);
        width: 6rem;
        height: 2rem;
        border-radius: 8px;
        text-align: center;
        text-decoration: none;

        &:hover {
          background-color: nth($list: $colores, $n: 2);
          color: nth($list: $colores, $n: 1);
          transition: 0.7s;
        }
      }
    }
  }
}
