/* SERVICIOS*/

.main-servicios {
  position: relative;
  width: 100%;

  h1 {
    color: #0e185f;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid #0e185f;
  }

  .main-servicios img {
    width: 100%;
    max-height: 40vh;
    margin: 0 auto;
    padding-bottom: 0.5rem;
    object-fit: cover;
    display: block;
    border-bottom: 2px solid #0e185f;
  }

  .servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem;

    .servicios-1,
    .servicios-2,
    .servicios-3 {
      @include flex(column, center, center);
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      height: auto;
      padding: 1rem;
      max-width: 20rem;
      border-radius: 15px;
      box-shadow: 0px 0px 20px 0px nth($list: $colores, $n: 4);
      width: 100%;

      ul {
        list-style: none;
        padding: 1rem 0 0.5rem 0;

        li {
          display: flex;
          align-items: center;
          font-size: 1rem;
          margin-bottom: 10px;

          .icon {
            margin-right: 10px;
            font-size: 1.5rem;
            color: nth($list: $colores, $n: 1);
          }
        }
      }

      .button-servicios {
        background-color: nth($list: $colores, $n: 1);
        color: nth($list: $colores, $n: 3);
        width: 6rem;
        height: 2rem;
        border-radius: 8px;
        text-align: center;
        text-decoration: none;

        &:hover {
          background-color: nth($list: $colores, $n: 2);
          color: nth($list: $colores, $n: 1);
          transition: 0.7s;
        }
      }
    }
  }
}
