footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.3rem;
  background-color: #0e185f;
  color: #afd3e2;
  height: 9rem;

  .footer-subtitulo {
    font-size: 13px;
    padding: 0.7rem;
    padding-top: 2rem;
  }

  .footer-redes {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 7px;

    .redes {
      display: inline-block;

      .enlace-redes {
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 30px;
        transition: font-size 0.3s ease;
        &:hover {
          font-size: 40px;
        }
      }
    }
  }
  .footer-derechos {
    font-size: 0.7rem;
    padding-bottom: 0.5rem;
  }
}
