footer {
  @include flex(column, center, center);
  padding: 0.3rem;
  background-color: nth($list: $colores, $n: 1);
  color: nth($list: $colores, $n: 3);
  height: 9rem;

  .footer-subtitulo {
    font-size: 13px;
    padding: 0.7rem;
    padding-top: 2rem;
  }

  .footer-redes {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 7px;

    .redes {
      display: inline-block;

      .enlace-redes {
        display: block;
        text-align: center;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 30px;
        transition: font-size 0.3s ease;
        &:hover {
          font-size: 40px;
        }
      }
    }
  }
  .footer-derechos {
    font-size: 0.7rem;
    padding-bottom: 0.5rem;
  }
}
