header {
  background-color: white;
  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    background-color: #0e185f;

    .container-fluid {
      .navbar-brand {
        .navb-img {
          width: 6rem;
        }
      }
      .navbar-toggler {
        border: none;
      }
      .toggler-color {
        background-color: #afd3e2;
      }

      .navbar-nav .nav-item .nav-link.active {
        color: #afd3e2;
      }
      .nav-link {
        font-weight: bold;
        color: #afd3e2;
      }
      &:hover {
        color: aqua;
      }
      .nav-link .active {
        color: #afd3e2;
      }
    }
  }
}
