header {
  background-color: nth($list: $colores, $n: 3);
  .barra {
    @include flex(row, space-between, center);
    width: 100%;
    padding: 0;
    background-color: nth($list: $colores, $n: 1);

    .container-fluid {
      .navbar-brand {
        .navb-img {
          width: 5rem;
          border-radius: 70px;
          margin: 0.5rem;
          height: 5rem;
        }
      }

      .navbar-toggler {
        border: none;
      }

      .toggler-color {
        background-color: nth($list: $colores, $n: 3);
      }

      .navbar-nav .nav-item .nav-link {
        font-weight: bold;
        color: nth($list: $colores, $n: 3);

        &:hover {
          color: nth($list: $colores, $n: 2);
        }

        .active {
          color: nth($list: $colores, $n: 3);

          &.active {
            color: nth($list: $colores, $n: 2);
          }
        }
      }
    }
  }
}
