/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* html {
  font-family: Arial, Helvetica, sans-serif;
} */

/* header {
  background-color: white;
} */

/* .barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  background-color: #0e185f;
} */

/* .navb-img {
  width: 6rem;
} */

/* .navbar-toggler {
  border: none;
} */

/* .toggler-color {
  background-color: #afd3e2;
} */

/* .navbar-nav .nav-item .nav-link.active {
  color: #afd3e2;
} */

/* .nav-link {
  font-weight: bold;
  color: #afd3e2;
} */

/* .nav-link:hover {
  color: aqua;
} */

/* .nav-link.active {
  color: #afd3e2;
} */

/* BANNER */

/* .banner-container {
  position: relative;
  background: url(../multimedia/img/banner-1.jpg) center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  color: white;
  object-fit: cover;
} */

/* .banner-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
} */

/* .banner-info {
  position: absolute;
  top: 75%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  display: inline;
} */

/* .titulo-banner {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
} */

/* .banner-container img {
  background-color: rgba(0, 0, 0, 10);
  padding: 20px;
  text-align: center;
} */

/* .button-home {
  display: block;
  padding: 0.2rem 1rem;
  background-color: #00ffdd;
  color: #0e185f;
  text-decoration: none;
  border-radius: 7px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
} */

/* .button-home:hover {
  background-color: #0e185f;
  color: #00ffdd;
  transition: 0.7s;
} */

/* SERVICIOS */

/* .main-servicios {
  position: relative;
  width: 100%;
} */

/* .main-servicios h1 {
  color: #0e185f;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #0e185f;
} */

/* .main-servicios img {
  width: 100%;
  max-height: 40vh;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  object-fit: cover;
  display: block;
  border-bottom: 2px solid #0e185f;
} */

/* .servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 0.5rem;
  padding: 2rem;
} */

/* .servicios-1,
.servicios-2,
.servicios-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  padding: 1rem;
  max-width: 20rem;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 0px rgb(248, 103, 221);
} */

/* .servicios ul {
  list-style: none;
  padding: 1rem 0 0.5rem 0;
} */

/* .servicios li {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 10px;
} */

/* .icon {
  margin-right: 10px;
  font-size: 1.5rem;
  color: #0e185f;
} */

/* .button-servicios {
  background-color: #0e185f;
  color: #afd3e2;
  width: 6rem;
  height: 2rem;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
} */

/* .:hover {
  background-color: #00ffdd;
  color: #0e185f;
  transition: 0.7s;
} */

/*NOSOTROS*/

/* .titulo-nosotros {
  color: #0e185f;
  padding-bottom: 0.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #0e185f;
  margin-top: 1rem;
} */

/* .nosotros-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  width: 100%;
  gap: 1rem;
  padding: 0 2rem;
  box-sizing: border-box;
} */

/* .comienzos,
.actualidad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
} */

/* .img-container {
  max-width: 50%;
  margin: 0 auto;
} */

/* .comienzos img,
.actualidad img {
  width: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 30px 0px rgb(248, 103, 221);
} */

/* .titulo-nosotros {
  margin-bottom: 2rem;
} */

/* .actualidad {
  flex-direction: row-reverse;
} */

/* .antes,
.ahora {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
  width: 50%;
} */

/* .resaltado {
  font-weight: bold;
  color: black;
} */

/* .pie-nosotros {
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 1rem;
} */

/* GALERIA */

/* .titulo-galeria  {
  color: #0e185f;
  padding-bottom: 0.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #0e185f;
  margin-top: 1rem;
} */

/* .container-galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 20px;
} */

/* .galeria-img {
  text-align: center;
} */

/* .galeria-img img {
  max-width: 90%;
  height: auto;
  padding: 0.5rem;
} */

/* .galeria-img img {
  animation: fade 0.7s;
} */

/* .card-back {
  display: none;
} */

/* .galeria-img:hover .card-back {
  display: block;
} */

/* .galeria-img:hover .card-front {
  display: none;
} */

/* RESERVAS */

/* .form-container {
  align-items: center;
  padding: 0 3rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  gap: 0.7rem;
} */

/* .form-container .titulo-reservas {
  color: #0e185f;
  padding-bottom: 0.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #0e185f;
  margin-top: 1rem;
} */

/* .form-datos {
  display: flex;
  margin: 2rem 0;
} */

/* .formulario {
  background-color: #0e185f;
  box-shadow: 0px 0px 30px 0px rgb(248, 103, 221);
  width: 70%;
  padding: 2rem;
  align-items: center;
  justify-items: center;
  gap: 0.7rem;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "titulo titulo"
    "desde hasta"
    "menores adultos"
    "nombre apellido "
    "tel email"
    "textarea textarea"
    "submit submit";
} */

/* .desde {
  grid-column: 1/2;
} */

/* .hasta {
  grid-column: 2/3;
} */

/* .menores {
  grid-column: 1/2;
} */

/* .adultos {
  grid-column: 2/3;
} */

/* .nombre {
  grid-column: 1/2;
} */

/* .apellido {
  grid-column: 2/3;
} */

/* .tel {
  grid-column: 1/2;
} */

/* .email {
  grid-column: 2/3;
} */

/* .form-10 {
  grid-column: 1/3;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 90%;
  padding: 1rem;
  margin-top: 0.7rem;
} */

/* .form-11 {
  grid-column: 1/3;
  width: 90%;
} */

/* .formulario p {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: white;
  margin: 10px;
} */

/* .nombre p,
.apellido p,
.tel p,
.email p {
  text-align: left;
} */

/* .desde input,
.hasta input,
.menores input,
.adultos input {
  border: 1px solid white;
  border-radius: 5px;
  width: 9rem;
  height: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  padding: 1rem;
  color: white;
  background-color: transparent;
} */

/* .desde input:hover,
.hasta input:hover,
.menores input:hover,
.adultos input:hover {
  color: #0e185f;
  background-color: #00ffdd;
} */

/* .menores input,
.adultos input {
  padding-left: 5px;
  width: 6rem;
  height: 2rem;
} */

/* .nombre input,
.apellido input,
.tel input,
.email input {
  border-style: none;
  border-bottom: 1px solid white;
  width: 13rem;
  font-size: 13px;
  text-align: left;
  padding-left: 0.7rem;
  background-color: transparent;
} */

/* .nombre input:hover,
.apellido input:hover,
.tel input:hover,
.email input:hover {
  color: #0e185f;
  background-color: #00ffdd;
} */

/* .form-10 textarea,
.submit {
  width: 100%;
  border-style: none;
  background-color: transparent;
  color: white;
} */

/* .submit {
  background-color: white;
  color: #0e185f;
  height: 2.5rem;
  font-size: 1.3rem;
  font-weight: bold;
} */

/* .submit:hover {
  background-color: #00ffdd;
  color: black;
} */

/* .informacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 3rem 1rem 0 2rem;
} */

/* .informacion ul {
  list-style: none;
  padding: 1rem 0 0.5rem 0;
} */

/* .informacion li {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 10px;
} */

/* .informacion iconify-icon {
  margin-right: 10px;
  font-size: 1.5rem;
  color: #0e185f;
} */

/* .ubicacion h3 {
  margin-left: 1rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  color: #0e185f;
} */

/* .maps {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 20px 0px rgb(175, 175, 180);

  margin-bottom: 2rem;
  margin-top: 1rem;
} */

/* FOOTER */
/* footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.3rem;
  background-color: #0e185f;
  color: #afd3e2;
  height: 9rem;
} */

/* .footer-subtitulo {
  font-size: 13px;
  padding: 0.7rem;
  padding-top: 2rem;
} */

/* .footer-redes {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 7px;
} */

/* .redes {
  display: inline-block;
} */

/* .enlace-redes {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  transition: font-size 0.3s ease;
} */

/* footer a:hover {
  font-size: 40px;
} */

/* .footer-derechos {
  font-size: 0.7rem;
  padding-bottom: 0.5rem;
} */

@media (max-width: 1024px) {
  /*SERVICIOS*/

  .servicios {
    grid-template-columns: repeat(2, 1fr);
  }

  .servicios li iconify-icon {
    font-size: 1rem;
  }

  .servicios a {
    width: 5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  /*NOSOTROS*/

  .comienzos,
  .actualidad {
    flex-direction: column;
    gap: 0;
  }

  .antes,
  .ahora {
    width: 100%;
    margin: 0;
  }
  /* GALERIA*/

  .container-galeria {
    grid-template-columns: repeat(2, 1fr);
  }

  /*RESERVAS*/

  .formulario {
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "titulo"
      "desde"
      "hasta"
      "menores"
      "adultos"
      "nombre"
      "apellido"
      "tel"
      "email"
      "textarea"
      "submit";
  }

  .form-datos {
    flex-direction: column;
  }

  .informacion {
    margin: 2rem;
  }
}

@media (max-width: 767px) {
  /*HOME*/

  .banner-info {
    top: 40%;
  }

  .banner-info h1 {
    font-size: 2rem;
  }

  /*SERVICIOS */

  .servicios {
    grid-template-columns: repeat(1, 1fr);
  }

  /*NOSOTROS*/

  .comienzos img,
  .actualidad img {
    width: 100%;
  }

  /*GALERIA*/
  .container-galeria {
    grid-template-columns: 1fr;
  }

  /*RESERVAS*/

  .form-container {
    text-align: center;
    padding: 0 1.5rem;
  }

  .form-datos {
    margin: 1rem 0;
  }

  .formulario {
    width: 100%;
    padding: 1rem;
    grid-template-areas:
      "titulo"
      "desde"
      "hasta"
      "menores"
      "adultos"
      "nombre"
      "apellido"
      "tel"
      "email"
      "textarea"
      "submit";
  }

  .form-datos {
    display: flex;
    flex-direction: column;
  }

  .titulo,
  .desdde,
  .hasta,
  .menores,
  .adultos,
  .nombre,
  .apellido,
  .tel,
  .email,
  .textarea,
  .submit {
    grid-column: 1;
    margin: 0;
    width: 100%;
  }

  .nombre input,
  .apellido input,
  .tel input,
  .email input {
    width: auto;
    padding-left: 0.8rem;
    margin-left: 0.7rem;
  }

  .informacion {
    margin: 2rem 1rem 0 2rem;
  }

  .ubicacion h3 {
    margin-left: 0;
    text-align: center;
  }

  .maps {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}
